<div class="section-reservation">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="thai-roof"></div>
        <div class="reservation-header text-center">
          <h2><%= t('reservation.new.title') %></h2>
        </div>
        <div class="reservation-subheader text-center">
          <p id="reservation-subheader">
      <!--      <%= t('reservation.new.error') %> <br>
            <%= t('reservation.new.error2') %> <br>
            <%= t('reservation.new.error3') %>  -->
            <%= t('reservation.new.subtitle1') %> <br>
            <%= t('reservation.new.subtitle2') %>
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-lg-center">
      <div class="col-lg-8">
        <div class="reservation-form my-2">
          <%= form_for @booking do |f| %>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group ta-form-group">
                  <%= f.label :name,  class: "sr-only" %>
                  <%= f.text_field :name, placeholder: "Nom", required: true %>
                  <div class="icone-input-end">
                    <i class="fas fa-user"></i>
                  </div>
                </div>
                <div class="form-group ta-form-group">
                  <%= f.label :email, class: "sr-only" %>
                  <%= f.email_field :email, placeholder: "Email", required: true %>
                  <div class="icone-input-end">
                    <i class="fas fa-at"></i>
                  </div>
                </div>
                <div class="form-group ta-form-group">
                  <%= f.label :phone, class: "sr-only" %>
                  <%= f.text_field :phone, placeholder: "Numéro de téléphone", required: true %>
                  <div class="icone-input-end">
                    <i class="fas fa-mobile-alt"></i>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group ta-form-group">
                  <%= f.label :pax, class: "sr-only" %>
                  <%= f.number_field :pax, value:"1", min:"1", required: true %>
                  <div class="icone-input-end">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
                <div class="form-group ta-form-group">
                  <%= f.label :date, class: "sr-only" %>
                  <%= f.date_field :date, format: "%a %e %b %Y", required: true %>
                  <div class="icone-input-end">
                    <i class="far fa-calendar-check"></i>
                  </div>
                </div>
                <p class="errors-input"><%= show_errors(@booking, :date) %></p>
                <div class="form-group ta-form-group">
                  <%= f.label :time, class: "sr-only" %>
                  <%= f.time_field :time, required: true %>
                  <div class="icone-input-end">
                    <i class="far fa-clock"></i>
                  </div>
                </div>
                <p class="errors-input"><%= show_errors(@booking, :time) %></p>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group ta-form-group">
                  <%= f.label :message, class: "sr-only" %>
                  <%= f.text_field :message, placeholder: "message...", required: false %>
                  <div class="icone-input-end">
                    <i class="fas fa-pencil"></i>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col text-center">
                <%= f.submit t('btn.reserve'), class: "btn btn-gold" %>
                <br>
                <br>
                <a class="home-link" href="/"><%= t('btn.home') %></a>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

