<footer>
  <div class="footer-header">
    <%= image_tag('logo-footer.webp') %>

    <div class="icone-info">
      <i class="fas fa-mobile-alt"></i>
      <p>+41 22 870 0507</p>
    </div>
    <div class="icone-info">
      <i class="far fa-envelope"></i>
      <p>contact@thai-artisans.ch</p>
    </div>
    <div class="icone-info">
      <i class="fas fa-map-marker-alt"></i>
      <p>Route de Chancy 76, 1213 Onex</p>
    </div>
    <div class="icone-info">
      <i class="far fa-clock"></i>
      <p class="left">
        Lundi-Samedi : ...... 12-14H30 / 19-23H <br>
        Dimanche : ............... FERMÉ
      </p>
    </div>
  </div>
  <div class="footer-links">
    <div class="links-media">
      <div class="links-title">
        <p>Suivez nous</p>
        <hr class="lign">
      </div>
      <div class="links-list-online">
        <%= link_to 'https://www.facebook.com/latabledesartisans', class:"social-link", target: :_blank do %>
          <i class="fab fa-facebook-square fa-2x"></i>
        <% end %>
        <%= link_to 'https://www.facebook.com/latabledesartisans', class:"social-link", target: :_blank do %>
          <i class="fab fa-instagram-square fa-2x"></i>
        <% end %>
      </div>
    </div>
    <div class="links-site">
      <div class="links-title">
        <p>Plan du Site</p>
        <hr class="lign">
      </div>
      <div class="links-list">
        <ul>
          <li><%= link_to 'Accueil', root_path, class:"footer-link" %></li>
          <li><%= link_to 'Réservation', new_booking_path, class:"footer-link" %></li>
          <li><%= link_to 'Menu', carte_path, class:"footer-link" %></li>
          <li><%= link_to 'Contact', contact_path, class:"footer-link" %></li>
        </ul>
      </div>
    </div>
    <div class="links-mentions">
      <div class="links-title">
        <p>Mentions Légales</p>
        <hr class="lign">
      </div>
      <div class="links-list">
        <ul>
          <li> <%= link_to 'Cookies', kookies_path, class:"footer-link" %> </li>
          <li> <%= link_to 'Mentions Légales', mentions_path, class:"footer-link" %> </li>
          <li> <%= link_to 'RGPD', rgpd_path, class:"footer-link" %> </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>©ThaiArtisans2022</p>
  </div>
</footer>
