<nav class="navbar navbar-expand-lg">
  <div class="navbar-brand">
    <%= link_to root_path, class:"navbar-brand" do %>
      <%= image_tag('logo-50-gold.webp') %>
      <span id="brand">Thaï Artisans</span>
    <% end %>
  </div>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <%= link_to t('nav.home'), root_path, class: "nav-link" %>
      <%= link_to t('nav.reservation'), new_booking_path, class: "nav-link" %>
      <%= link_to t('nav.menu'), carte_path, class: "nav-link" %>
      <%= link_to t('nav.contact'), contact_path, class: "nav-link" %>
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-globe"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <div class="languages-list">
          <%= link_to 'FR', url_for(locale: 'fr'), class:"globe-links" %>
          <%= link_to 'EN', url_for(locale: 'en'), class:"globe-links" %>
        </div>
      </div>
    </div>
  </div>
</nav>

