<section class="section-contact">
  <div class="header-section">
    <div class="header-title text-center">
      <h1 class="gold"><%= t('contact.title') %></h1>
    </div>
    <div class="header-subtitle text-center">
      <p >Let's talk about your project !</p>
    </div>
  </div>
  <div class="contact-form-wrapper">
    <h1 class="form-title">  </h1>
    <p class="subtitle">Let's talk about your project !</p>
    <div class="form-wrapper">
      <form action="https://formspree.io/f/XXXXXXXXX" method="POST" >
        <input type="text" name="name" id="full-name" autocomplete="off" required placeholder="<%= t('contact.label.name') %>" />
        <input type="email" name="_replyto" autocomplete="off" required placeholder="<%= t('contact.label.mail') %>"/>
        <textarea row="3" name="message" id="message" required placeholder="<%= t('contact.label.message') %>"></textarea>
        <input type="hidden" name="_subject" id="email-subject" value="Formulaire SAP">
        <input type="submit" value="<%= t('contact.btn') %>" class="btn btn-gold">
      </form>
    </div>
  </div>
</section>
