<section class="section-contact">
  <div class="contact-form-wrapper">
    <div class="contact-form-title">
      <h1 class="gold"><%= t('contact.title') %></h1>
    </div>
    <div class="contact-form-subtitle text-center">
      <p><%= t('contact.subtitle') %></p>
    </div>
    <div class="form-wrapper">
      <form action="https://formspree.io/f/mrgjrldk" method="POST" >
        <input type="text" name="name" id="full-name" autocomplete="off" required placeholder="<%= t('contact.label.name') %>" />
        <input type="email" name="_replyto" autocomplete="off" required placeholder="<%= t('contact.label.mail') %>"/>
        <textarea row="3" name="message" id="message" required placeholder="<%= t('contact.label.msg') %>"></textarea>
        <input type="hidden" name="_subject" id="email-subject" value="Formulaire Contact">
        <input type="submit" value="<%= t('btn.send') %>" class="btn btn-gold">
      </form>
    </div>
  </div>
</section>
