<section class="section-menu">
  <div class="header-section">
    <div class="header-title text-center">
      <h1><%= t('s3.title') %></h1>
    </div>
    <div class="header-subtitle text-center">
      <p >
        <%= t('s3.subtitle') %>
        <br>
        <%= t('s3.subtitlebis') %>
      </p>
    </div>
  </div>
  <div class="wrapper-menu mt-5">
    <ul class="nav nav-pills justify-content-center mt-3 mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-entrees-tab" data-bs-toggle="pill" data-bs-target="#pills-entrees" role="tab" aria-controls="pills-entrees" aria-selected="true">
          <%= t('s3.pills.starter') %>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-plats-tab" data-bs-toggle="pill" data-bs-target="#pills-plats" role="tab" aria-controls="pills-plats" aria-selected="false">
          <%= t('s3.pills.main') %>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-accompagnements-tab" data-bs-toggle="pill" data-bs-target="#pills-accompagnements" role="tab" aria-controls="pills-accompagnements" aria-selected="false">
          <%= t('s3.pills.noodle') %>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-desserts-tab" data-bs-toggle="pill" data-bs-target="#pills-desserts" role="tab" aria-controls="pills-desserts" aria-selected="false">
          <%= t('s3.pills.dessert') %>
        </a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-entrees" role="tabpanel" aria-labelledby="pills-entrees-tab">
        <div class="menu-grid">
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.starter1') %></p>
            </div>
            <div class="card-price">
              10 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.starter2') %></p>
            </div>
            <div class="card-price">
              10 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.starter3') %></p>
            </div>
            <div class="card-price">
              10 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.starter4') %></p>
            </div>
            <div class="card-price">
              10 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.starter5') %></p>
            </div>
            <div class="card-price">
              10 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.starter6') %></p>
            </div>
            <div class="card-price">
              24 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.soup1') %></p>
            </div>
            <div class="card-price">
              <small class="tab">entrée: </small>12 Frs
              <small class="tab"> plat: </small>23 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.soup2') %></p>
            </div>
            <div class="card-price">
              <small class="tab">entrée: </small>12 Frs
              <small class="tab"> plat: </small>23 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.soup3') %></p>
            </div>
            <div class="card-price">
              <small class="tab">entrée: </small>12 Frs
              <small class="tab"> plat: </small>23 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.salad1') %></p>
            </div>
            <div class="card-price">
              <small class="tab">entrée: </small>14 Frs
              <small class="tab"> plat: </small>27 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.salad2') %></p>
            </div>
            <div class="card-price">
              <small class="tab">entrée: </small>14 Frs
              <small class="tab"> plat: </small>27 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.salad3') %></p>
            </div>
            <div class="card-price">
              <small class="tab">entrée: </small>12 Frs
              <small class="tab"> plat: </small>23 Frs
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-plats" role="tabpanel" aria-labelledby="pills-plats-tab">
        <div class="menu-grid">
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.main1') %></p>
            </div>
            <div class="card-price">
              26 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.main2') %></p>
            </div>
            <div class="card-price">
              26 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.main3') %></p>
            </div>
            <div class="card-price">
              26 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.main4') %></p>
            </div>
            <div class="card-price">
              25 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.main5') %></p>
            </div>
            <div class="card-price">
              25 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.main6') %></p>
            </div>
            <div class="card-price">
              25 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.main7') %></p>
            </div>
            <div class="card-price">
              25 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.main8') %></p>
            </div>
            <div class="card-price">
              25 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.main9') %></p>
            </div>
            <div class="card-price">
              27 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.main10') %></p>
            </div>
            <div class="card-price">
              27 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.main11') %></p>
            </div>
            <div class="card-price">
              27 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.main12') %></p>
            </div>
            <div class="card-price">
              27 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.main13') %></p>
            </div>
            <div class="card-price">
              27 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.main14') %></p>
            </div>
            <div class="card-price">
              27 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.main15') %></p>
            </div>
            <div class="card-price">
              27 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.main16') %></p>
            </div>
            <div class="card-price">
              27 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.main17') %></p>
            </div>
            <div class="card-price">
              27 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.main18') %></p>
            </div>
            <div class="card-price">
              27 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.main19') %></p>
            </div>
            <div class="card-price">
              27 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.main20') %></p>
            </div>
            <div class="card-price">
              27 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.main21') %></p>
            </div>
            <div class="card-price">
              27 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.main22') %></p>
            </div>
            <div class="card-price">
              27 Frs
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-accompagnements" role="tabpanel" aria-labelledby="pills-accompagnements-tab">
        <div class="menu-grid">
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.noodle1') %></p>
            </div>
            <div class="card-price">
              28 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.noodle2') %></p>
            </div>
            <div class="card-price">
              26 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.noodle4') %></p>
            </div>
            <div class="card-price">
              26 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.noodle5') %></p>
            </div>
            <div class="card-price">
              26 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.noodle3') %></p>
            </div>
            <div class="card-price">
              <small class="tab">small: </small>8 Frs
              <small class="tab"> large: </small>16 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.noodle6') %></p>
            </div>
            <div class="card-price">
              3 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.noodle7') %></p>
            </div>
            <div class="card-price">
              5 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.noodle8') %></p>
            </div>
            <div class="card-price">
              6 Frs
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-desserts" role="tabpanel" aria-labelledby="pills-desserts-tab">
        <div class="menu-grid">
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.dessert1') %></p>
            </div>
            <div class="card-price">
              11 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.dessert2') %></p>
            </div>
            <div class="card-price">
              14 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.dessert3') %></p>
            </div>
            <div class="card-price">
              8 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.dessert4') %></p>
            </div>
            <div class="card-price">
              8 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.dessert5') %></p>
            </div>
            <div class="card-price">
              7 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('s3.menu.dessert6') %></p>
            </div>
            <div class="card-price">
              3.50 Frs
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="reservation-link text-center mt-5">
      <%= link_to t('s1.btn'), root_path, class: "btn btn-orange" %>
    </div>
  </div>
</section>
