<section class="section-menu">
  <div class="header-section">
    <div class="header-title text-center">
      <h1 class="gold"><%= t('menu.title') %></h1>
    </div>
    <div class="header-subtitle text-center">
      <p >
        <%= t('menu.subtitle1') %>
        <br>
        <%= t('menu.subtitle2') %>
      </p>
    </div>
  </div>
  <div class="wrapper-menu mt-5">
    <ul class="nav nav-pills justify-content-center mt-3 mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-entrees-tab" data-bs-toggle="pill" data-bs-target="#pills-entrees" role="tab" aria-controls="pills-entrees" aria-selected="true">
          <%= t('menu.pills.starter') %>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-plats-tab" data-bs-toggle="pill" data-bs-target="#pills-plats" role="tab" aria-controls="pills-plats" aria-selected="false">
          <%= t('menu.pills.main') %>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-accompagnements-tab" data-bs-toggle="pill" data-bs-target="#pills-accompagnements" role="tab" aria-controls="pills-accompagnements" aria-selected="false">
          <%= t('menu.pills.noodle') %>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-desserts-tab" data-bs-toggle="pill" data-bs-target="#pills-desserts" role="tab" aria-controls="pills-desserts" aria-selected="false">
          <%= t('menu.pills.dessert') %>
        </a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-entrees" role="tabpanel" aria-labelledby="pills-entrees-tab">
        <div class="menu-grid">
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m1.starter1') %></p>
            </div>
            <div class="card-price">
              10 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m1.starter2') %></p>
            </div>
            <div class="card-price">
              10 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m1.starter3') %></p>
            </div>
            <div class="card-price">
              10 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m1.starter4') %></p>
            </div>
            <div class="card-price">
              10 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m1.starter5') %></p>
            </div>
            <div class="card-price">
              10 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m1.starter6') %></p>
            </div>
            <div class="card-price">
              24 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m1.soup1') %></p>
            </div>
            <div class="card-price">
              <small class="tab">entrée: </small>12 Frs
              <small class="tab"> plat: </small>23 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m1.soup2') %></p>
            </div>
            <div class="card-price">
              <small class="tab">entrée: </small>12 Frs
              <small class="tab"> plat: </small>23 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m1.soup3') %></p>
            </div>
            <div class="card-price">
              <small class="tab">entrée: </small>12 Frs
              <small class="tab"> plat: </small>23 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m1.salad1') %></p>
            </div>
            <div class="card-price">
              <small class="tab">entrée: </small>14 Frs
              <small class="tab"> plat: </small>27 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m1.salad2') %></p>
            </div>
            <div class="card-price">
              <small class="tab">entrée: </small>14 Frs
              <small class="tab"> plat: </small>27 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m1.salad3') %></p>
            </div>
            <div class="card-price">
              <small class="tab">entrée: </small>12 Frs
              <small class="tab"> plat: </small>23 Frs
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-plats" role="tabpanel" aria-labelledby="pills-plats-tab">
        <div class="menu-grid">
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m2.main1') %></p>
            </div>
            <div class="card-price">
              26 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m2.main2') %></p>
            </div>
            <div class="card-price">
              26 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m2.main3') %></p>
            </div>
            <div class="card-price">
              26 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m2.main4') %></p>
            </div>
            <div class="card-price">
              25 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m2.main5') %></p>
            </div>
            <div class="card-price">
              25 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m2.main6') %></p>
            </div>
            <div class="card-price">
              25 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m2.main7') %></p>
            </div>
            <div class="card-price">
              25 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m2.main8') %></p>
            </div>
            <div class="card-price">
              25 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m2.main9') %></p>
            </div>
            <div class="card-price">
              27 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m2.main10') %></p>
            </div>
            <div class="card-price">
              27 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m2.main11') %></p>
            </div>
            <div class="card-price">
              27 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m2.main12') %></p>
            </div>
            <div class="card-price">
              27 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m2.main13') %></p>
            </div>
            <div class="card-price">
              27 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m2.main14') %></p>
            </div>
            <div class="card-price">
              27 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m2.main15') %></p>
            </div>
            <div class="card-price">
              27 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m2.main16') %></p>
            </div>
            <div class="card-price">
              27 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m2.main17') %></p>
            </div>
            <div class="card-price">
              27 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m2.main18') %></p>
            </div>
            <div class="card-price">
              27 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m2.main19') %></p>
            </div>
            <div class="card-price">
              27 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m2.main20') %></p>
            </div>
            <div class="card-price">
              27 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m2.main21') %></p>
            </div>
            <div class="card-price">
              27 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m2.main22') %></p>
            </div>
            <div class="card-price">
              27 Frs
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-accompagnements" role="tabpanel" aria-labelledby="pills-accompagnements-tab">
        <div class="menu-grid">
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m3.noodle1') %></p>
            </div>
            <div class="card-price">
              28 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m3.noodle2') %></p>
            </div>
            <div class="card-price">
              26 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m3.noodle4') %></p>
            </div>
            <div class="card-price">
              26 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m3.noodle5') %></p>
            </div>
            <div class="card-price">
              26 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m3.noodle3') %></p>
            </div>
            <div class="card-price">
              <small class="tab">small: </small>8 Frs
              <small class="tab"> large: </small>16 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m3.noodle6') %></p>
            </div>
            <div class="card-price">
              3 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m3.noodle7') %></p>
            </div>
            <div class="card-price">
              5 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m3.noodle8') %></p>
            </div>
            <div class="card-price">
              6 Frs
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-desserts" role="tabpanel" aria-labelledby="pills-desserts-tab">
        <div class="menu-grid">
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m4.dessert1') %></p>
            </div>
            <div class="card-price">
              11 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m4.dessert2') %></p>
            </div>
            <div class="card-price">
              14 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m4.dessert3') %></p>
            </div>
            <div class="card-price">
              8 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m4.dessert4') %></p>
            </div>
            <div class="card-price">
              8 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m4.dessert5') %></p>
            </div>
            <div class="card-price">
              7 Frs
            </div>
          </div>
          <div class="card-menu">
            <div class="card-content">
              <p><%= t('menu.m4.dessert6') %></p>
            </div>
            <div class="card-price">
              3.50 Frs
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="reservation-link text-center mt-5">
      <%= link_to t('btn.reserve'), new_reservation_path, class: "btn btn-gold" %>
    </div>
  </div>
</section>
