<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Nouvelle Demande de Réservation </h1>
    <br>
    <p><%= @booking.name %></p>
    <p><%= @booking.email %></p>
    <p><%= @booking.phone %></p>
    <p><%= @booking.pax %></p>
    <p><%= @booking.date %></p>
    <p><%= @booking.time %></p>
    <p><%= @booking.message %></p>
    <p>Merci de confirmer cette reservation !</p>
  </body>
</html>
