<h1>Nouvelle Demande de Reservation </h1>
<br>
<p>Nom: <%= @booking.name %></p>
<p>Email: <%= @booking.email %></p>
<p>Phone: <%= @booking.phone %></p>
<p>Couverts: <%= @booking.pax %></p>
<p>Date: <%= @booking.date %></p>
<p>Heure: <%= @booking.time.strftime('%H:%M') %></p>
<p>Message: <%= @booking.message %></p>
<br>
<p>Merci de confirmer cette reservation !</p>
